body
{
    background-color: #585855;
}

header {
    background-color: #aac9c4;
    border-radius: 25px;
}

#servicesAndPaymentsRow
{
    background-color: #ae5757;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.pastWorkRow
{
    background-color: #fcd260;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.headerRowFlex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.headerColumn
{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 30;
  height: 70%;
}

.headerColumn > .headshot-column
{
    flex: 1;
    padding: 15px;
}

.headerColumn > .intro-column
{
    flex: 50;
    padding: 15px;
}

.serviceColumn
{}

.pastWorkRow
{}

.pastWorkColumn
{
    background-color: coral;
    border-radius: 25px;
    margin-bottom: 5px;
}

.amphibious-column
{
    padding: 5px 10px 5px 5px;
}

.delivery-column
{
    padding: 5px;
}

.headshot-image
{
    border-radius: 25px;
}

#badyYodaImage
{
    border-radius: 25px;
}

#hologramBountyImage
{
    border-radius: 25px;
}

.footer
{
    background-color: #fcc433;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}