body
{
    background-color: #585855;
}

header {
    background-color: #aac9c4;
    border-radius: 25px;
}

.headerRowFlex
{
    display: flex;
    flex-direction: row;
}

.headerColumn > .headshot-column
{
    flex: 1;
    padding: 15px;
    padding-right: -30px;
}

.headerColumn > .intro-column
{
    flex: 1;
    padding-top: 60px;
    padding-left: -50px;
}

#servicesAndPaymentsRow
{
    background-color: #ae5757;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.serviceColumn
{
    display: flex;
    flex-direction: column;
}

.serviceColumn > .service-column
{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.serviceColumn > h3
{
    flex: 1;
}


.serviceCard
{
    background-color: #fcc433;
    flex: 1;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

}


.serviceCard > img
{
    padding-top: 5%;
    width: 30%;
    height: 30%;
    flex:1;
}

.serviceCard > p
{
    flex: 2;
}

/*
past work section
*/

.pastWorkContainer
{
    background-color: #fcd260;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.pastWorkRow
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pastWorkRow > h4
{
    align-content: center;
}

.pastWorkColumn
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 70%;
    background-color: coral;
    border-radius: 25px;
    margin-bottom: 5px;
    width: 25%;
    margin: 5px 10px 5px 5px;
}


/*
padding: 25px 50px 75px 100px;
    * top padding is 25px
    * right padding is 50px
    * bottom padding is 75px
    * left padding is 100px
*/
.amphibious-column
{
    padding: 5px 10px 5px 5px;
}

.amphibious-column > h4
{
    text-align: center;
}

.delivery-column
{
    text-align: center;
    padding: 5px;
}

.delivery-column > h4
{
    text-align: center;
}

.consultant-column > h4
{
    text-align: center;
}
 
.headshot-image
{
    border-radius: 25px;
    height: 50%;
    width: 50%;
}

#badyYodaImage
{
    border-radius: 25px;
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

#hologramBountyImage
{
    border-radius: 25px;
    width: 50%;
    height: 50%;
}

#deliveringBountyImage
{
    border-radius: 25px;
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

@media only screen and (max-width: 400px) {

    .headerRowFlex
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .serviceColumn > .service-column
    {
        flex-direction: column;
    }

    .serviceCard
    {
        margin-top: 10px;
    }

    .pastWorkRow
    {
        flex-direction: column;
    }

    .pastWorkColumn
    {
        width: 100%;
        height: 100%;
    }

    /*
    Image sizing for cell phones
    */
    .headshot-image
    {
        border-radius: 25px;
        width: 80%;
        margin-left: 20px;
    }

    .headerColumn > .headshot-column > h1
    {
        padding-left: 30px;
    }

    .headerColumn > .intro-column 
    {
        padding-top: 0px;
        margin-top: 10px;
    }
}

.footer
{
    background-color: #fcc433;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}